.components-modal__item {
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}
.components-modal__loader {
    text-align: center;
}
.mopen-ai__buton-group {
    display: flex;
    justify-content: space-around;
}
.mopen-ai__body {
    padding: 10px;
}
.components-notice.is-error,
.components-notice.is-success,
.components-notice.is-dismissible {
    padding-right: 0;
}